input {
    color: blue;
 }
 h1 {
    font-size: xx-large;
}
.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.card {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #b745da, #11a4e7);
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.card1 {
    background: blueviolet;
}
.card2 {
    background: orange;
}
.card3 {
    background: green;
}
.card4 {
    background: lightblue;
}